<head>
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seven Hills</title>
</head>
<body>
<div class="header">
    <h1>Seven Hills Swim & Dive League</h1>
    <h3>Cincinnati, Ohio</h3>
</div>
<div class="center">
    <h1>The 2012 Seven Hills League Dive Championships</h1>
    <p><b>at Miami Hills Swim Club</b></p>
    <p><b>Monday, July 9th, 2012</b></p>
    <p><b><a href="Timeline.pdf">Timeline</a></font></b></p>
    <p><b><a href="DivingOrder.pdf">Diving Order</a> <a href="DivingOrderWithLists.pdf">(With Lists)</a> <a
            href="DivingOrderWithListsByTeam.pdf">(With Lists by Team)</a></b></p>
    <p><b><a href="TeamPointsByMeetChamps.pdf">Team Points by Meet Champs</a></b></p>
    <p><b><a href="TeamPointsByEventChamps.pdf">Team Points by Event Champs</a></b></p>
    <p><b><a href="ResultsOfficialChampsSigned.pdf">Results Official Champs-signed</a></b></p>
    <p><img style="width: 600px; height: 453px;" alt="" src="2012DiveCoaches.JPG"></p>
    <p></p>
    <p>Questions should be directed to Jen Van Roekel, Swim &amp; Dive Coordinator @ <a
            href="mailto:jenmahaney@yahoo.com">jenmahaney@yahoo.com</a>.</p>
</div>
</body>
</html>