* {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

body {
    background-image: url('background.png');
    background-color: #cccccc;
}

.header {
    background-color: #194438;
    color: yellow;
    text-align: center;
}

.column {
    float: left;
    padding: 7px;
}

.center {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
}

ul,
ol {
    text-align: left;
}

select {
    color: black;
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    text-align: center;
}

table th {
    background-color: grey;
    border-width: 0px;
    color: white;
    padding: 7px;
}

table td {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: black;
    padding: 7px;
}

a {
    color: blue;
    text-decoration: none;
}
